[Unit]
Description=Automatically upload the contents of the directory %f
After=tailscale-online@meerkat.target
BindsTo=tailscale-online@meerkat.target
# ExecCondition=/bin/bash -xc '/usr/bin/systemctl is-active --quiet "%n" && exit 255 || exit 1; } || exit 0'

[Service]
# asdf
Environment="HOME=/root"
ExecStart=/root/.asdf/shims/immich upload --delete --recursive %f

# Native
# ExecStart=/usr/loca/bin/immich upload --delete --recursive %f
