[Unit]
Description=Immich CLI autoupload container
Documentation=man:podman-generate-systemd(1)
After=tailscale-online@meerkat.target
BindsTo=tailscale-online@meerkat.target
# ConditionCPUPressure=
RequiresMountsFor=%t/containers

[Service]
#CPUSchedulingPolicy=idle
Environment=NU_LOG_LEVEL=INFO
ExecStart=/usr/local/bin/autoupload.nu %f --systemd-notify
#IOSchedulingClass=idle
#IOSchedulingPriority=7
#Nice=19
NotifyAccess=all
Restart=always
Type=notify

[Install]
UpheldBy=tailscale-online@meerkat.target
WantedBy=multi-user.target tailscale-online@meerkat.target
