[Unit]
Description=Upload at a set interval 
After=tailscale-online@meerkat.target
BindsTo=tailscale-online@meerkat.target

[Timer]
OnCalendar=daily
Persistent=yes
# OnUnitActiveSec=
AccuracySec=1hour

[Install]
WantedBy=timers.target
