[Unit]
Description=Automatically upload the contents of the directory %f
BindsTo=tailscale-online@meerkat.target
After=tailscale-online@meerkat.target

[Service]
ExecStart=/usr/bin/rclone move %f minio:pi-camera
