[Unit]
Description=Automatically upload the contents of the directory %f
BindsTo=tailscale-online@meerkat.target
After=tailscale-online@meerkat.target
StartLimitIntervalSec=0

[Service]
# asdf
ExecStart=%h/.asdf/shims/immich upload --delete --recursive %f

# Native
# ExecStart=/usr/loca/bin/immich upload --delete --recursive %f
